._title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

._subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 17 / 14 * 100%;
}

._navigation {
  font-weight: 700;
  font-size: 16px;
  line-height: 19 / 16 * 100%;
}

._textRegular {
  font-weight: 500;
  font-size: 12px;
  line-height: 15 / 12 * 100%;
}