@use '../../styles/palette' as colors;

.header {
  width: 100%;
  background-color: colors.$purple;

  &__inner {
    padding-block: 1.125em;
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  &__leftBlock, &__rightBlock {
    display: flex;
    align-items: center;
  }

  &__leftBlock, &__rightBlock {
    gap: 1.625em;
  }
}