.header {
  width: 100%;
  background-color: #2F2644;
}
.header__inner {
  padding-block: 1.125em;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.header__leftBlock, .header__rightBlock {
  display: flex;
  align-items: center;
}
.header__leftBlock, .header__rightBlock {
  gap: 1.625em;
}